@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-coffee-primary: #6f4e37;
  --color-coffee-secondary: #a67b5b;
  --color-coffee-background: #faf9f6;
  --color-coffee-text: #2c1e12;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-coffee-text);
  background-color: var(--color-coffee-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

/* Hide spin-buttons in Chrome, Safari, Edge, and Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spin-buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
